.container-small-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.small-card-picture > img {
    width: 200px;
    min-width: 200px;
    height: 130px;
    margin-right: 20px;
    margin-top: 15px;
}

.small-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}